@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:not(:defined) {
  visibility: hidden;
}

body {
  font-family: "Fira Sans", "Poppins", "Noto Sans JP", sans-serif;
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background: var(--sl-color-neutral-0);
  color: var(--sl-color-neutral-900);
  padding-top: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 500ms;
  margin: 0;
}

section {
  display: flex;
  width: 100%;
  max-width: 1024px;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav {
  display: flex;
  width: 100%;
  max-width: 1024px;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    width: 1536px;
  }
}

a {
  text-decoration: none;
  color: var(--sl-color-primary-500);
}

a:hover {
  color: var(--sl-color-primary-600);
}

h1 {
  font-size: var(--sl-font-size-2x-large);
  font-weight: var(--sl-font-weight-bold);
}
h1[xl] {
  font-weight: 800;
  font-size: var(--sl-font-size-2x-large);
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: var(--sl-font-size-large);
  font-weight: var(--sl-font-weight-bold);
}
h3 {
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-semibold);
}
:is(h1, h2, h3, h4, p, a)[rainbow] {
  --rainbow: linear-gradient(
    45deg,
    var(--sl-color-neutral-200) 0%,
    var(--sl-color-primary-700) 70%
  );
  --rainbow-hover: linear-gradient(
    45deg,
    var(--sl-color-primary-700) 0%,
    var(--sl-color-neutral-200) 70%
  );
  white-space: nowrap;
  background-image: var(--rainbow);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition-duration: 1000ms;
  background-size: 200% 100%;
}
:is(h1, h2, h3, h4, p, a)[rainbow]:hover {
  background-position-x: 100%;
}

:is(h1, h2, h3, h4, p, a)[rainbow="0"] {
  --rainbow: linear-gradient(
    45deg,
    var(--sl-color-primary-700) 0%,
    var(--sl-color-neutral-300) 70%
  );
  background-position-x: 100%;
}
:is(h1, h2, h3, h4, p, a)[rainbow="0"]:hover {
  background-position-x: 0;
}
:is(h1, h2, h3, h4, p, a)[rainbow="1"] {
  --rainbow: linear-gradient(
    141.27deg,
    #ff904e 0%,
    #ff5982 20%,
    #ec68f4 40%,
    #79e2ff 80%
  );
}
:is(h1, h2, h3, h4, p, a)[rainbow="2"] {
  --rainbow: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
}
:is(h1, h2, h3, h4, p, a)[rainbow="3"] {
  --rainbow: linear-gradient(
    140deg,
    #d2a8ff 12.09%,
    #f778ba 42.58%,
    #ff7b72 84.96%
  );
}
:is(h1, h2, h3, h4, p, a)[rainbow="4"] {
  --rainbow: linear-gradient(45deg, rgb(250 222 255) 0%, rgb(219 204 255) 70%);
}
:is(h1, h2, h3, h4, p, a)[rainbow="5"] {
  --rainbow: linear-gradient(45deg, rgb(150 130 191) 0%, rgb(32 22 22) 70%);
}

h1,
h2,
h3,
p {
  margin: 0;
}

small {
  color: var(--sl-color-neutral-500);
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
