@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap");

:root,
:host {
  --color-neutral-50: rgb(236, 254, 252);
  --color-neutral-100: rgb(240, 243, 254);
  --color-neutral-200: rgb(214, 220, 245);
  --color-neutral-300: rgb(147, 153, 178);
  --color-neutral-400: rgb(127, 132, 156);
  --color-neutral-500: rgb(108, 112, 134);
  --color-neutral-600: rgb(88, 91, 112);
  --color-neutral-700: rgb(69, 71, 90);
  --color-neutral-800: rgb(49, 50, 68);
  --color-neutral-900: rgb(30, 30, 46);
  --color-neutral-950: rgb(24, 24, 37);
  --color-primary-50: rgb(246 250 255);
  --color-primary-100: rgb(227 237 254);
  --color-primary-200: rgb(205 223 253);
  --color-primary-300: rgb(181 208 252);
  --color-primary-400: rgb(149 187 250);
  --color-primary-500: rgb(122 161 224);
  --color-primary-600: rgb(101 133 185);
  --color-primary-700: rgb(83 109 151);
  --color-primary-800: rgb(68 90 125);
  --color-primary-900: rgb(49 64 89);
  --color-primary-950: rgb(30 39 54);
}

:host,
.dark {
  --color-neutral-950: rgb(215, 224, 254);
  --color-neutral-950: rgb(215, 224, 254);
  --color-neutral-900: rgb(166, 173, 200);
  --color-neutral-800: rgb(147, 153, 178);
  --color-neutral-700: rgb(127, 132, 156);
  --color-neutral-600: rgb(108, 112, 134);
  --color-neutral-500: rgb(88, 91, 112);
  --color-neutral-400: rgb(69, 71, 90);
  --color-neutral-300: rgb(49, 50, 68);
  --color-neutral-200: rgb(30, 30, 46);
  --color-neutral-100: rgb(24, 24, 37);
  --color-neutral-50: rgb(17, 17, 27);
  --color-primary-950: rgb(248 249 255);
  --color-primary-900: rgb(232 235 255);
  --color-primary-800: rgb(215 220 254);
  --color-primary-700: rgb(196 204 254);
  --color-primary-600: rgb(173 182 244);
  --color-primary-500: rgb(148 157 210);
  --color-primary-400: rgb(123 129 173);
  --color-primary-300: rgb(100 106 142);
  --color-primary-200: rgb(83 87 117);
  --color-primary-100: rgb(59 62 83);
  --color-primary-50: rgb(36 38 51);
}

:not(:defined) {
  visibility: hidden;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Noto Sans JP", sans-serif;
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background: var(--color-neutral-50);
  color: var(--color-neutral-950);
  padding-top: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 500ms;
  margin: 0;
}

section {
  display: flex;
  width: 100%;
  max-width: 1024px;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav {
  display: flex;
  width: 100%;
  max-width: 1024px;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.relative {
  position: relative;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    width: 1536px;
  }
}

hr {
  width: 90%;
  max-width: 640px;
  border: 1px solid var(--color-neutral-200);
}

a {
  text-decoration: none;
  color: var(--color-primary-500);
}

a:hover {
  color: var(--color-primary-600);
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}
h1[xl] {
  font-weight: 800;
  font-size: xx-large;
  margin-bottom: 1rem;
}

h2 {
  font-size: large;
  font-weight: bold;
}

h3 {
  font-size: medium;
  font-weight: var(--sl-font-weight-semibold);
}

:is(h1, h2, h3, h4, p, a)[rainbow] {
  --rainbow: linear-gradient(
    45deg,
    var(--color-neutral-200) 0%,
    var(--color-primary-700) 70%
  );
  --rainbow-hover: linear-gradient(
    45deg,
    var(--color-primary-700) 0%,
    var(--color-neutral-200) 70%
  );
  white-space: nowrap;
  background-image: var(--rainbow);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition-duration: 1000ms;
  background-size: 200% 100%;
}

:is(h1, h2, h3, h4, p, a)[rainbow]:hover {
  background-position-x: 100%;
}

:is(h1, h2, h3, h4, p, a)[rainbow] > * {
  color: var(--color-neutral-950);
}

:is(h1, h2, h3, h4, p, a)[rainbow="0"] {
  --rainbow: linear-gradient(
    45deg,
    var(--color-primary-700) 0%,
    var(--color-neutral-300) 70%
  );
  background-position-x: 100%;
}

:is(h1, h2, h3, h4, p, a)[rainbow="0"]:hover {
  background-position-x: 0;
}

:is(h1, h2, h3, h4, p, a)[rainbow="1"] {
  --rainbow: linear-gradient(
    141.27deg,
    #ff904e 0%,
    #ff5982 20%,
    #ec68f4 40%,
    #79e2ff 80%
  );
}

:is(h1, h2, h3, h4, p, a)[rainbow="2"] {
  --rainbow: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
}

:is(h1, h2, h3, h4, p, a)[rainbow="3"] {
  --rainbow: linear-gradient(
    140deg,
    #d2a8ff 12.09%,
    #f778ba 42.58%,
    #ff7b72 84.96%
  );
}

:is(h1, h2, h3, h4, p, a)[rainbow="4"] {
  --rainbow: linear-gradient(45deg, rgb(250 222 255) 0%, rgb(219 204 255) 70%);
}

:is(h1, h2, h3, h4, p, a)[rainbow="5"] {
  --rainbow: linear-gradient(45deg, rgb(150 130 191) 0%, rgb(32 22 22) 70%);
}

h1,
h2,
h3,
p {
  margin: 0;
}

small {
  color: var(--color-neutral-500);
  font-size: small;
}
:is(button, a[role="button"])[disabled="true"] {
  pointer-events: none;
  color: var(--color-neutral-800);
  background-color: var(--color-primary-50);
}
div[role="group"]:has(input[type="radio"]),
div[role="group"]:has(:is(button, a[role="button"])) {
  display: flex;
}
input[type="radio"] {
  display: none;
}
label:has(input[type="radio"]),
:is(button, a[role="button"]) {
  padding: 0.5em 1em;
  font-size: medium;
}
:is(h1, h2, h3, p, a, small, label, button) svg {
  height: 1.5em;
}
label:has(input[type="radio"])[small],
:is(button, a[role="button"])[small] {
  font-size: small;
  padding: 0.25em 0.5em;
}
label:has(input[type="radio"]),
:is(button, a[role="button"]) {
  border-style: solid;
  border-width: 0.075em;
  border-color: var(--color-neutral-200);
  color: var(--color-neutral-700);
  background-color: var(--color-neutral-0);
  display: flex;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
  font-size: small;
  font-weight: 500;
}
label:hover:has(input[type="radio"]),
:is(button, a[role="button"]):hover {
  background-color: var(--color-primary-50);
  border-color: var(--color-primary-200);
  color: var(--color-primary-700);
}
label:active:has(input[type="radio"]),
:is(button, a[role="button"]):active {
  color: var(--color-primary-900);
}
:is(button, a[role="button"]) svg {
  font-size: larger;
}
div label:has(input[type="radio"]:checked) {
  background-color: var(--color-primary-50);
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
}
.container-sm {
  max-width: 640px;
}
.container-md {
  max-width: 768px;
}
.container-lg {
  max-width: 1024px;
}
.container-xl {
  max-width: 1280px;
}
.container-xxl {
  max-width: 1536px;
}
