.card {
  aspect-ratio: 16/9;
  width: 100%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-family: Arial;
  position: relative;
}
.icons {
  display: flex;
  flex-wrap: wrap;
  font-size: 3.5rem;
  color: white;
  gap: 0.1em;
  & .icon-container {
    position: relative;
    &:has(input[type="radio"]) {
      &:before {
        opacity: 0;
        transition-duration: 500ms;
      }
      & .halo:before {
        opacity: 0;
        transition-delay: 300ms;
        transition-duration: 400ms;
      }
    }
    &:has(input[type="radio"]):hover .icon,
    &:has(input[type="radio"]:checked) .icon {
      color: var(--color-neutral-950);
    }
    &:has(input[type="radio"]:checked) {
      &:before {
        opacity: 1;
      }
      & .halo:before {
        opacity: 1;
      }
    }
    &:has(input[type="radio"]) {
      &:before {
        content: "";
        background-color: var(--color-primary-900);
        filter: blur(3em);
        display: block;
        position: absolute;
        width: 200%;
        height: 200%;
        translate: -25% -25%;
        border-radius: 9999px;
      }
      & .halo {
        padding: 0.04em;
        line-height: 0;
        aspect-ratio: 1;
        border-radius: 9999px;
        overflow: hidden;
        position: relative;
      }
      & .halo:before {
        content: "";
        display: block;
        animation: spin 10s linear infinite;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        border-radius: 9999px;
        filter: blur(9px);
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        --color-1: rgb(220, 250, 19);
        --color-2: rgb(131, 66, 251);
        --color-3: rgb(38, 23, 249);
        --color-4: rgb(245, 19, 32);
        background-image: linear-gradient(var(--color-1), var(--color-1)),
          linear-gradient(var(--color-2), var(--color-2)),
          linear-gradient(var(--color-3), var(--color-3)),
          linear-gradient(var(--color-4), var(--color-4));
      }
    }
    & .icon {
      transition-duration: 300ms;
      font-size: 2rem;
      border-radius: 9999px;
      background-color: var(--color-neutral-50);
      line-height: 0;
      padding: 0.5em;
      aspect-ratio: 1;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      color: var(--color-neutral-400);
      & svg {
        width: 1em;
        height: 1em;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text {
  z-index: 1;
}
