@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply bg-indigo-300 dark:bg-gray-900
            text-gray-800 dark:text-white antialiased;
    font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }

  .page-container {
    @apply flex flex-col justify-start items-center gap-4
            w-full min-h-screen;
    main {
      @apply flex flex-col justify-center items-center
                w-full grow;
    }
  }

  code {
    @apply font-mono;
  }
  small {
    @apply font-thin;
  }
  [data-nextjs-scroll-focus-boundary] {
	display: contents;
  }
}