article {
  width: 100%;
  margin-block: 5rem;
  max-width: 768px;
  padding: 0 1.5rem;
  line-height: 1.6em;

  img {
    margin: 0 auto;
    display: block;
  }

  small img {
    display: inline-block;
  }

  img + em {
    display: block;
    text-align: center;
  }

  div img {
    max-width: 80%;
  }

  :is(h1, h2, h3) {
    margin-block: 1rem;
  }

  :is(h1, h2, h3, strong) {
    color: var(--color-neutral-950);
  }

  span.math {
    color: var(--color-neutral-900);
  }

  :is(p, ol, ul, table) {
    color: var(--color-neutral-900);
  }

  table {
    width: 100%;
    padding: 0.5rem;

    thead {
      background-color: var(--color-neutral-200);
    }
    td {
      padding: 0.25rem 0.5rem;
    }
    th {
      padding: 0.5rem;
    }
    tbody tr:nth-child(even) {
      background-color: var(--color-neutral-100);
    }
  }
}

@media (min-width: 640px) {
  article div p img:only-of-type {
    max-width: 50%;
  }
}
