:root,
:host,
.sl-theme-light {
  --sl-color-gray-50: rgb(236, 254, 252);
  --sl-color-gray-100: rgb(166, 173, 200);
  --sl-color-gray-200: rgb(147, 153, 178);
  --sl-color-gray-300: rgb(127, 132, 156);
  --sl-color-gray-400: rgb(108, 112, 134);
  --sl-color-gray-500: rgb(88, 91, 112);
  --sl-color-gray-600: rgb(69, 71, 90);
  --sl-color-gray-700: rgb(49, 50, 68);
  --sl-color-gray-800: rgb(30, 30, 46);
  --sl-color-gray-900: rgb(24, 24, 37);
  --sl-color-gray-950: rgb(17, 17, 27);
  --sl-color-primary-50: rgb(254 249 239);
  --sl-color-primary-100: rgb(251 235 200);
  --sl-color-primary-200: rgb(242 220 170);
  --sl-color-primary-300: rgb(225 205 158);
  --sl-color-primary-400: rgb(203 184 143);
  --sl-color-primary-500: rgb(174 158 123);
  --sl-color-primary-600: rgb(144 131 101);
  --sl-color-primary-700: rgb(118 107 83);
  --sl-color-primary-800: rgb(97 88 68);
  --sl-color-primary-900: rgb(69 63 49);
  --sl-color-primary-950: rgb(42 38 30);
}

:host,
.sl-theme-dark {
  --sl-color-gray-950: rgb(215, 224, 254);
  --sl-color-gray-900: rgb(166, 173, 200);
  --sl-color-gray-800: rgb(147, 153, 178);
  --sl-color-gray-700: rgb(127, 132, 156);
  --sl-color-gray-600: rgb(108, 112, 134);
  --sl-color-gray-500: rgb(88, 91, 112);
  --sl-color-gray-400: rgb(69, 71, 90);
  --sl-color-gray-300: rgb(49, 50, 68);
  --sl-color-gray-200: rgb(30, 30, 46);
  --sl-color-gray-100: rgb(24, 24, 37);
  --sl-color-gray-50: rgb(17, 17, 27);
  --sl-color-primary-950: rgb(248 249 255);
  --sl-color-primary-900: rgb(232 235 255);
  --sl-color-primary-800: rgb(215 220 254);
  --sl-color-primary-700: rgb(196 204 254);
  --sl-color-primary-600: rgb(173 182 244);
  --sl-color-primary-500: rgb(148 157 210);
  --sl-color-primary-400: rgb(123 129 173);
  --sl-color-primary-300: rgb(100 106 142);
  --sl-color-primary-200: rgb(83 87 117);
  --sl-color-primary-100: rgb(59 62 83);
  --sl-color-primary-50: rgb(36 38 51);
}
