.blueprint {
  position: relative;
  overflow: visible;
}
.blueprint:before {
  --minor-grid-size: 1em;
  --major-grid-size: calc(var(--minor-grid-size) * 11);
  --minor-grid-color: rgba(255, 255, 255, 0.1);
  --major-grid-color: rgba(255, 255, 255, 0.2);
  --minor-grid-stroke: 1px;
  --major-grid-stroke: 2px;
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: linear-gradient(
      -90deg,
      var(--minor-grid-color) var(--minor-grid-stroke),
      transparent var(--minor-grid-stroke)
    ),
    linear-gradient(
      var(--minor-grid-color) var(--minor-grid-stroke),
      transparent var(--minor-grid-stroke)
    ),
    linear-gradient(
      -90deg,
      var(--major-grid-color) var(--major-grid-stroke),
      transparent var(--major-grid-stroke)
    ),
    linear-gradient(
      var(--major-grid-color) var(--major-grid-stroke),
      transparent var(--major-grid-stroke)
    ),
    radial-gradient(circle, rgb(128, 200, 255) 0%, rgb(64, 128, 255) 75%);
  background-size: var(--minor-grid-size) var(--minor-grid-size),
    var(--minor-grid-size) var(--minor-grid-size),
    var(--major-grid-size) var(--major-grid-size),
    var(--major-grid-size) var(--major-grid-size), 100% 100%;
}

main section:not(:first-child) {
  &:nth-child(even) {
    flex-direction: row;
    text-align: left;
  }
  &:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: right;
  }
}

main section:first-child {
  margin-top: 10vh;
}

main section:last-child {
  margin-bottom: 10vh;
}

main {
  gap: 5vh;
}

main section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  & .explain {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    & p {
      color: var(--color-neutral-600);
    }
  }
  & canvas {
    width: 100%;
    aspect-ratio: 4/3;
    max-width: 640px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  main section {
    flex-direction: column;
  }
}

.relative {
  position: relative;
}