:root,
:host {
  --color-neutral-50: rgb(236, 254, 252);
  --color-neutral-100: rgb(240, 243, 254);
  --color-neutral-200: rgb(214, 220, 245);
  --color-neutral-300: rgb(147, 153, 178);
  --color-neutral-400: rgb(127, 132, 156);
  --color-neutral-500: rgb(108, 112, 134);
  --color-neutral-600: rgb(88, 91, 112);
  --color-neutral-700: rgb(69, 71, 90);
  --color-neutral-800: rgb(49, 50, 68);
  --color-neutral-900: rgb(30, 30, 46);
  --color-neutral-950: rgb(24, 24, 37);
  --color-primary-50: rgb(246 250 255);
  --color-primary-100: rgb(227 237 254);
  --color-primary-200: rgb(205 223 253);
  --color-primary-300: rgb(181 208 252);
  --color-primary-400: rgb(149 187 250);
  --color-primary-500: rgb(122 161 224);
  --color-primary-600: rgb(101 133 185);
  --color-primary-700: rgb(83 109 151);
  --color-primary-800: rgb(68 90 125);
  --color-primary-900: rgb(49 64 89);
  --color-primary-950: rgb(30 39 54);
}

:host,
.dark {
  --color-neutral-950: rgb(215, 224, 254);
  --color-neutral-950: rgb(215, 224, 254);
  --color-neutral-900: rgb(166, 173, 200);
  --color-neutral-800: rgb(147, 153, 178);
  --color-neutral-700: rgb(127, 132, 156);
  --color-neutral-600: rgb(108, 112, 134);
  --color-neutral-500: rgb(88, 91, 112);
  --color-neutral-400: rgb(69, 71, 90);
  --color-neutral-300: rgb(49, 50, 68);
  --color-neutral-200: rgb(30, 30, 46);
  --color-neutral-100: rgb(24, 24, 37);
  --color-neutral-50: rgb(17, 17, 27);
  --color-primary-950: rgb(248 249 255);
  --color-primary-900: rgb(232 235 255);
  --color-primary-800: rgb(215 220 254);
  --color-primary-700: rgb(196 204 254);
  --color-primary-600: rgb(173 182 244);
  --color-primary-500: rgb(148 157 210);
  --color-primary-400: rgb(123 129 173);
  --color-primary-300: rgb(100 106 142);
  --color-primary-200: rgb(83 87 117);
  --color-primary-100: rgb(59 62 83);
  --color-primary-50: rgb(36 38 51);
}
:is(button, a[role="button"])[disabled="true"] {
  pointer-events: none;
  color: var(--color-neutral-800);
  background-color: var(--color-primary-50);
}
div[role="group"]:has(input[type="radio"]),
div[role="group"]:has(:is(button, a[role="button"])) {
  display: flex;
}
input[type="radio"] {
  display: none;
}
label:has(input[type="radio"]), :is(button, a[role="button"]) {
  padding: 0.5em 1em;
  font-size: medium;
}
:is(h1,h2,h3,p,a,small,label,button) svg {
  height: 1.5em;
}
label:has(input[type="radio"])[small], :is(button, a[role="button"])[small] {
  font-size: small;
  padding: 0.25em 0.5em;
}
label:has(input[type="radio"]), :is(button, a[role="button"]) {
  border-style: solid;
  border-width: 0.075em;
  border-color: var(--color-neutral-200);
  color: var(--color-neutral-950);
  background-color: var(--color-primary-100);
  display: flex;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
}
label:hover:has(input[type="radio"]), :is(button, a[role="button"]):hover {
  background-color: var(--color-primary-50);
  border-color: var(--color-primary-300);
  color: var(--color-primary-700);
}
label:active:has(input[type="radio"]), :is(button, a[role="button"]):active {
  color: var(--color-primary-900);
}
:is(button, a[role="button"]) svg {
  font-size: larger;
}
div label:has(input[type="radio"]:checked) {
  background-color: var(--color-primary-50);
}