
  .history-button {
    @apply min-w-[7.5rem] h-16 md:h-10
            p-0.5
            m-px
            bg-gray-700
            duration-300
            text-white dark:text-gray-300
			before:hidden
            text-xs md:text-base;
    &[active] {
    @apply relative
            z-0
            overflow-hidden
			before:block
            before:absolute
            before:top-0
            before:left-0
            before:w-double
            before:h-full
            before:-z-10
            hover:before:animate-move-left
            before:bg-rainbow
            before:bg-half-width;
    }
    &[active] h3 {
		@apply bg-black;
	}
    h3 {
      @apply w-full h-full flex justify-center items-center;
    }
  }

  .history-content {
    @apply flex flex-col items-start relative
            duration-300
			aspect-video
            md:w-2/3
            xl:w-4/5;
    &:not([active]) {
      @apply hidden;
    }
  }

  .history-title {
    em {
      @apply text-purple-900
            dark:text-yellow-100
            hover:text-purple-600
            hover:dark:text-yellow-400;
    }
  }

  .history-desc {
    @apply w-full max-h-full             text-sm
            font-light
            text-left
			flex justify-center
            text-black dark:text-white;
    font-family: "Noto Sans JP", sans-serif;
    em {
      @apply text-purple-900 dark:text-yellow-100;
    }
    ul li {
      @apply relative
                pl-5
                before:content-["▸"]
                before:absolute
                before:left-0;
    }
  }
